<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Результати пошуку</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Main.css') }}">
    <script src="{{ url_for('static', filename='conect.js') }}"></script>
</head>
<body>
    <header class="header">
        <div class="left-links">
            <a href="{{ url_for('home') }}">Головна</a>
            <a href="{{ url_for('favorites') }}">Вподобані</a>
        </div>
        <div class="right-links">
            <a href="{{ url_for('profile') }}" class="profile-link">
                <span>Профіль</span>
                <div class="profile-icon"></div>
            </a>
        </div>
    </header>

    <main class="search-results">
        <h1>Результати пошуку для "{{ query }}"</h1>
        {% if error %}
            <p>{{ error }}</p>
        {% elif movies %}
            <div class="movies-grid">
                {% for movie in movies %}
                <div class="movie-card">
                    <a href="{{ url_for('movies.movie_details', movie_id=movie.id) }}">
                        <img src="https://image.tmdb.org/t/p/w300{{ movie.poster_path }}" 
                            alt="{{ movie.title }}">
                        <div class="movie-title">{{ movie.title }}</div>
                    </a>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Немає доступних фільмів для відображення.</p>
        {% endif %}
    </main>
</body>
</html>
